// KantinGo - Aplikasi pemesanan makanan di kantin kampus
// Copyright (c) 2025 John Doe
// Licensed under the MIT License

const express = require("express");
const app = express();
app.get("/", (req, res) => {
  res.send("Selamat datang di KantinGo!");
});
app.listen(3000, () => console.log("Server berjalan di port 3000"));
